/*globals*/
* {
  margin: 0;
  padding: 0;
  font-family: var(--nav_font), sans-serif;
}

.container {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--white);
}

#background_mobile_menu {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Individual*/

header {
  max-width: 1920px;
  width: 90%;
  position: fixed;
  top: 0;
  z-index: var(--Z_header);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

nav a {
  cursor: pointer;
  margin-left: 15px;
}

nav a:hover {
  border-bottom: solid 2px #000;
}

/*Humburger_menu*/

.humburger_menu {
  display: none;
}

.humburger_menu img {
  margin-right: 10px;
}

.mobile_header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mini_logo_humburger {
  display: none;
  margin: 30px;
}

/*Title+Logo*/

.logo {
  width: 100%;
  margin: 150px 0 40px 0;
}

.logo svg {
  max-width: 750px;
}

.logo_background {
  max-width: 1920px;
  height: 732px;
  border-radius: 4px;
  overflow: hidden;
}

.logo_background img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.close {
  display: none;
}

/*Slider*/

.title_featured p {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.swiper {
  max-width: 1920px;
  max-height: 600px;
  margin-top: 40px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  max-width: 441px;
  max-height: 523px;
  margin-right: 20px;
  margin-bottom: 65px;
}

.featured_products {
  padding: 10% 0;
}

.swiper-button-next {
  transform: translate(-40px, -30px);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #fff;
}

.swiper-button-next::after {
  display: none;
}

/*Item*/

.img_block_item {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--item);
}

.item {
  max-width: 441px;
  max-height: 523px;
}

.img_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_item img {
  width: 90%;
}

.buttons_item {
  max-width: var(--item_width);
  width: 100%;
  position: absolute;
  z-index: var(--Z_item);
  display: flex;
  justify-content: space-between;
}

.status_item {
  margin: 15px;
  padding: 5px 10px;
  width: fit-content;
  background-color: var(--bestseler);
  text-transform: uppercase;
  border-radius: 25px;
}

.like {
  cursor: pointer;
  margin: 15px;
}

.text {
  margin: 20px 0;
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price {
  display: flex;
}

.number {
  margin-right: 5px;
}

/*Page*/

.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px;
}

.orederItem {
  order: -1;
}

.itemPage {
  margin: 10px;
}

.itemBlock {
  max-width: 441px;
  max-height: 441px;
  width: 100%;
  height: 100vh;
  border-radius: 6px;
}

.idItem {
  position: absolute;
  margin: 20px;
  font-size: 16px;
  font-weight: 500;
}

.titlePage {
  max-width: 902px;
  max-height: 441px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  margin: 10px;
  overflow: hidden;
}

.imgTitlePage {
  width: 1108px;
  max-height: 441px;
  object-fit: cover;
  object-position: center;
  transform: translate(-46px, 0px);
}

.textTitlePageBox {
  position: absolute;
  z-index: var(--Z_TitlePage);
  max-width: 902px;
  max-height: 441px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.textTitlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 714px;
}

.textTitlePage h1 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.textTitlePage p {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.buttonTitlePage {
  display: flex;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 500;
  padding: 15px 60px;
  margin-bottom: 20px;
}

.buttonTitlePage img {
  margin-left: 10px;
}

.numberOfProducts {
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.numberOfProducts p {
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 20px;
}

.numberOfProducts select {
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.numberOfProducts option {
  border-bottom: solid 1px #5f5f5f;
}
