.featured_products {
  margin-top: var(--GapSection);
}

.title_featured p {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.swiper {
  max-width: 1920px;
  max-height: 600px;
  margin-top: 40px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  max-width: 441px;
  max-height: 523px;
  margin-right: 20px;
  margin-bottom: 65px;
}

.swiper-button-next {
  transform: translate(-30%, -70%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next::after {
  display: none;
}

/*Item*/

.img_block_item {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--item);
}

.item {
  cursor: pointer;
  max-width: 441px;
  max-height: 523px;
  transition: all 0.5s;
}

.item:hover {
  opacity: 0.4;
}

.item:hover + .like{
  opacity: 0.4;
}

.img_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_item img {
  width: 90%;
}

.buttons_item {
  max-width: var(--item_width);
  width: 100%;
  position: absolute;
  z-index: var(--Z_item);
  display: flex;
  justify-content: space-between;
}

.status_item {
  margin: 15px;
  padding: 5px 10px;
  width: fit-content;
  background-color: var(--bestseler);
  text-transform: uppercase;
  border-radius: 25px;
}

.like {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 15px;
  position: absolute;
  right: 0;
  z-index: var(--Z_like);
}

.like:hover {
  opacity: 1;
}

.text {
  margin: 20px 0;
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price {
  display: flex;
}

.number {
  margin-right: 5px;
}
